@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);
::selection {
  background-color: #ff4e4e;
}

.shadow-box {
  box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, 0.24);
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.8em;
}

body,
input,
textarea {
  font-family: Noto Sans CJK SC, Noto Sans SC, PingFang SC, Segoe UI, Hiragino Sans GB, Helvetica Neue, Arial, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
  color: #222;
}

h1 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}
@media (min-width: 900px) {
  h1 {
    font-size: 1.8em;
  }
}

h2 {
  font-size: 1.4em;
}

.entry-meta {
  display: inline-block;
  color: #7d7d7d;
  font-size: 1em;
  margin: 0.3em 0 0.3em 0;
}
.entry-meta a {
  color: #7d7d7d;
}
.entry-meta a:hover {
  border-bottom: 1px solid #ff4e4e;
}

header {
  text-align: center;
  padding: 80px 0 60px 0;
}

img {
  max-width: 100%;
}

.image {
  text-align: center;
}

ol li + li {
  margin: 20px 0 0 0;
}

footer {
  color: #7d7d7d;
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer a:link {
  border-bottom: 1px dotted #7d7d7d;
}
footer a:hover {
  border-bottom: 1px solid #ff4e4e;
}

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.latest h1::before {
  content: "新";
  font-weight: normal;
  color: black;
  width: 1em;
  height: 1.3em;
  margin-right: 0.05em;
  padding: 0.05em 0.28em;
  background: #ff4e4e;
  border-radius: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  padding: 0 30px 50px 30px;
}
@media (min-width: 900px) {
  .main-content {
    display: flex;
  }
}

.content {
  width: 100%;
  max-width: 780px;
}
@media (min-width: 900px) {
  .content {
    flex: 1;
  }
}

.post audio {
  width: 100%;
}
.post h1 a {
  color: #000;
  text-decoration: none;
}
.post h1 a:hover {
  border-bottom: 1px solid #ff4e4e;
}
.post h2,
.post h3 {
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.post h2 a,
.post h3 a {
  color: black;
}
.post h2 a:hover,
.post h3 a:hover {
  border-bottom: 1px solid #ff4e4e;
}
.post h3:before {
  content: "▍";
  color: #ff4e4e;
  font-weight: bold;
}
.post p em {
  color: #7d7d7d;
}
.post p a:not(.button) {
  color: #000;
  text-decoration: none;
}
.post p a:not(.button):link {
  border-bottom: 1px dotted #7d7d7d;
}
.post p a:not(.button):hover {
  border-bottom: 1px solid #ff4e4e;
}
.post time {
  padding: 0 0 15px 0;
  display: in-line;
}
.post .episode-overview {
  padding: 0;
  margin: 0;
}
.post .episode-overview svg {
  position: relative;
  top: 6px;
}
.post .episode-overview span {
  margin: 0 18px 0 3px;
}
.post .episode-overview li {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 900px) {
  .post .episode-overview li {
    display: inline-block;
  }
}
@media (min-width: 900px) {
  .post .show-notes {
    display: flex;
  }
}
.post .show-notes ul {
  padding: 0;
}
.post .show-notes ul li {
  list-style-type: none;
}
.post .show-notes ul li:before {
  content: "»";
  color: #ff4e4e;
  padding-right: 0.5em;
}
.post .show-notes ul a {
  color: #000;
  text-decoration: none;
}
.post .show-notes ul a:link {
  border-bottom: 1px dotted #7d7d7d;
}
.post .show-notes ul a:hover {
  border-bottom: 1px solid #ff4e4e;
  background: none;
}
.post .show-notes ol {
  padding: 0;
}
.post .show-notes ol li {
  counter-increment: step-counter;
  list-style-type: none;
  position: relative;
  margin-left: 34px;
}
.post .show-notes ol li:before {
  content: counter(step-counter);
  margin-right: 0px;
  background-color: #ff4e4e;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  position: absolute;
  left: -34px;
  top: 1px;
  width: 25px;
  text-align: center;
}
.post .show-notes .albums {
  width: 250px;
  padding: 0 43px 0 0;
}
@media (min-width: 900px) {
  .post .show-notes .playlist .highlights {
    flex: 1;
  }
}
.post ul {
  display: block;
}
.post ul li {
  margin-left: -17px;
}
.post ul li a {
  text-decoration: none;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.post ul li a:link {
  border-bottom: 1px solid #ff4e4e;
}
.post ul li a:hover {
  background: #ff4e4e;
}

.post + .post {
  margin: 65px 0 50px 0;
}

.sharing {
  margin: 50px 0 0 0;
  text-align: center;
  font-size: 0;
}
.sharing a {
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 56px;
  display: inline-block;
  height: 44px;
  line-height: 0;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.sharing a:hover:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  content: "";
}
.sharing a svg {
  fill: #fff;
}
.sharing a.email {
  background-color: #ff9d09;
}
.sharing a.facebook {
  background-color: #3b5998;
}
.sharing a.twitter {
  background-color: #55acee;
}
.sharing a.google-plus {
  background-color: #db4437;
}
.sharing a.youtube {
  background-color: #cd201f;
}
.sharing a.instagram {
  background-color: #f167f5;
}
.sharing a.linkedin {
  background-color: #0077b5;
}
.sharing a.pinterest {
  background-color: #c92228;
}
.sharing a.pinterest-icon:hover svg {
  fill: #bd081c;
}

.pagination {
  text-align: center;
}
.pagination a {
  color: #ff4e4e;
  text-decoration: none;
}
.pagination a:hover {
  background-color: #f1f1f1;
  color: #333;
}
.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.take-me {
  float: right;
}
.take-me .button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.notice {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.notice h4 {
  font-weight: bold;
  font-size: 1em;
  color: #1a1a1a;
  text-indent: 0px;
  clear: both;
  width: 600px;
  margin-bottom: 0px;
}
.notice p {
  color: #7d7d7d;
  font-size: 0.85em;
}

.cta {
  text-align: center;
  padding: 50px 0 0 0;
}

.button,
input[type=submit] {
  background: #fff;
  cursor: pointer;
  border: 1px solid #666;
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-flex;
  align-items: flex-end;
  margin: 0;
  font-size: 0.8em;
}
.button:hover,
input[type=submit]:hover {
  background: #000;
  color: #fff;
}
.button:focus,
input[type=submit]:focus {
  outline: none;
}

.button {
  border-color: #000;
}
.button a {
  color: #000;
}
.button a:hover {
  color: #fff;
}

input[type=submit] {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
  font-size: 1.1em;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #666;
  resize: none;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: 2px solid #333;
}

textarea {
  height: 150px;
}

label {
  margin: 20px 0 5px 0;
  display: block;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: #7d7d7d;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #7d7d7d;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #7d7d7d;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #7d7d7d;
  opacity: 1;
}

legend {
  display: none;
}

.contain {
  border: 0;
  background: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contain .split {
  flex: 0 0 380px;
}

select {
  width: 100%;
  height: 43px;
}

form div {
  margin-bottom: 1vh;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
}
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 15px;
  color: #444;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
}
nav a.active {
  color: #888;
}
nav a:hover {
  color: #000;
}

.search .container {
  display: flex;
  gap: 10px;
  height: 45px;
}
.search .container .button {
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  padding: 70px 0 0 0;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .sidebar {
    margin: 0;
    padding: 0 0 0 70px;
  }
}
.sidebar .author {
  text-align: center;
}
.sidebar .author p {
  padding: 0;
  margin: 0;
}
.sidebar .author img {
  width: 200px;
  border-radius: 10px;
  margin: 0 0 10px 0;
  transition: all 1.9s ease-in-out;
}
.sidebar .author img:hover {
  filter: hue-rotate(360deg);
}
.sidebar .social-icons {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}
.sidebar .social-icons a {
  padding: 3px;
  text-decoration: none;
}
.sidebar .social-icons a:hover svg {
  fill: #000;
}
.sidebar .social-icons svg {
  width: 25px;
  height: 25px;
  fill: #7d7d7d;
}
.sidebar .ranking_2017 {
  background: url("../images/ranking-banners/2017-ranking-banner.png");
  background-size: cover;
  color: #000;
  margin-top: 20px;
}
.sidebar .ranking_2018 {
  background: url("../images/ranking-banners/2018-ranking-banner.png");
  background-size: cover;
  color: #fff;
  margin-top: 20px;
}
.sidebar .side_feature {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: right;
}
.sidebar .side_feature:hover {
  color: #fff;
}
.sidebar .side_feature_bg {
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 23px;
}
.sidebar .apple-music {
  margin-bottom: 10px;
}
.sidebar .apple-music .shadow-box {
  border-radius: 10px;
}
.sidebar .spotify-playlist .shadow-box {
  border-radius: 10px;
}
.sidebar .good-stuff h3 {
  margin-top: 20px;
}
.sidebar .good-stuff blockquote {
  line-height: 1.4em;
  font-size: 13.5px;
  margin: 0 0 0 1em;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
.sidebar .good-stuff ul {
  padding: 0;
}
.sidebar .good-stuff ul li {
  list-style: none !important;
  border-bottom: 1px solid #cacaca;
  /*margin-left: -3px;*/
  padding: 0.5em 5px 0.5em 0;
}
.sidebar .good-stuff ul li:hover {
  border-bottom: 1px solid #ff4e4e;
}
.sidebar .good-stuff ul li a {
  color: #000;
  text-decoration: none;
}
.sidebar .good-stuff ul li a:hover {
  border-bottom: 0;
}

@media (min-width: 900px) {
  .sidebar.push {
    padding-top: 72px;
  }
}

.episodes {
  display: flex;
  flex-wrap: wrap;
}
.episodes .episode {
  flex: 1 0 300px;
  height: 200px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  margin: 5px 7px;
}
.episodes .episode a {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-decoration: none;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
  transition: all 0.2s ease;
  font-size: 1.1em;
  font-weight: 700;
}
.episodes .episode a span {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
  text-shadow: 1px 1px 1px #000;
}
.episodes .episode a:hover {
  background: none;
}

.book-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}
.book {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(0deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 200px;
  height: 300px;
  transform: translateZ(25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: " ";
  background-color: blue;
  left: 0;
  top: 3px;
  width: 48px;
  height: 294px;
  transform: translateX(172px) rotateY(90deg);
  background: linear-gradient(90deg, #fff 0%, #f9f9f9 5%, #fff 10%, #f9f9f9 15%, #fff 20%, #f9f9f9 25%, #fff 30%, #f9f9f9 35%, #fff 40%, #f9f9f9 45%, #fff 50%, #f9f9f9 55%, #fff 60%, #f9f9f9 65%, #fff 70%, #f9f9f9 75%, #fff 80%, #f9f9f9 85%, #fff 90%, #f9f9f9 95%, #fff 100%);
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 200px;
  height: 300px;
  transform: translateZ(-25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

/*# sourceMappingURL=screen.css.map */